/*Global Styles*/
body {
    background-image: url("https://user-images.githubusercontent.com/26077051/28930688-bd825f72-7841-11e7-8d65-598d830f5c78.jpg");
	background-size: 100% 140%;
	background-repeat: no-repeat;
	transition: 2s opacity;
}

body.fade-out {
    opacity: 0;
    transition: none;
}

a {
	text-decoration:none;
}

#header-with-logo {
	height:35vh;
	width:100%;
}

img.header-logo {
	padding-top:15vh;
	width:100%;
}

#everything-else {
	padding:1%;
	font-family: 'Francois One', sans-serif;
	text-align:center;
	font-size:170%;
	color:white;
}

span.name {
	font-size:150%;
	text-shadow: 0px 5px 10px rgba(0, 0, 0, .5);
}

span.title {
 color:#e7e7e7;
}

address a {
	text-decoration:none;
	font-style:normal;
	color:white;
}

.social {
	width:400px;
	height:auto;
	margin:auto;
	text-shadow: 0px 5px 10px rgba(0, 0, 0, .5);
}

.linkedin {
float:left;
width:45%;

}

.linkedin img {
width:60%;
}

.behance {
float:right;
width:45%;

}

.behance img {
width:60%;
}
.rule {
	width:1px;
	height:50px;
	background-color:#5a5a5a;
	float:left;
	margin-left:20px;
}

/*Highlight color */
::selection {
	background: red; 
}
	
::-moz-selection {
	background: red; 
}
/*End Highlight color*/
