/*Global Styles*/
body {
    background-image: url("https://user-images.githubusercontent.com/26077051/28930688-bd825f72-7841-11e7-8d65-598d830f5c78.jpg");
	background-size: 100% 140%;
	background-repeat: no-repeat;
	transition: 2s opacity;
}

body.fade-out {
    opacity: 0;
    transition: none;
}

a {
	text-decoration: none;
}

#header-with-logo {
	height: 35vh;
	width: 100%;
}

img.header-logo {
	padding-top: 20vh;
	width: 100%;
}
img.mobile-logo{
	display: none;
}

#everything-else {
	padding: 1%;
	font-family: 'Francois One', sans-serif;
	text-align: center;
	font-size: 130%;
	color: white;
	margin-top: 120px;
}

span.name {
	font-size: 150%;
	text-shadow: 0px 5px 10px rgba(0, 0, 0, .5);
	padding-top: 10%;
}

span.title {
	color: #e7e7e7;
}

address a {
	text-decoration: none;
	font-style: normal;
	color: white;
}

.social {
	width: 300px;
	height: auto;
	margin: auto;
}

.linkedin {
	float: left;
	width: 45%;
	margin: 0px;
}

.linkedin img {
	width: 60%;
	margin-top: 23px;
	padding-left: 53px; 
}

.behance {
	float: left;
	width: 45%;
	margin: 0px;
}

.behance img {
	width: 60%;
	margin-left: 0px;
	margin-top: 25px;
	padding-right: 30px;
}

.rule {
	width: 1px;
	height: 50px;
	background-color: #5a5a5a;
	float: left;
	margin-left: 10px;
	margin-top: 10px;
}

/*Highlight color */
::selection {
	background: red; 
}
	
::-moz-selection {
	background: red; 
}
/*End Highlight color*/

.behance img:hover {
   opacity: 0.6;
   filter: alpha(opacity=60); 
 }
 .linkedin img:hover {
   opacity: 0.6;
   filter: alpha(opacity=60); 
 }

/* Mobile Display */
 @media screen and (max-width: 480px) {
	body {
		background-image: url("https://user-images.githubusercontent.com/26077051/29236751-f1716bb4-7edd-11e7-8b22-5e5eb6e64bbc.png");
		background-size: 100% 140%;
		background-repeat: no-repeat;
		transition: 2s opacity;
	}
	img.mobile-logo{
		padding-top: 80px;
		width: 100%;
		display: inline;
	}
	img.header-logo {
		display: none;
	}
 }

/* Tablet Display */
@media screen and (max-width: 768px) {
	body {
		background-image: url("https://user-images.githubusercontent.com/26077051/29236751-f1716bb4-7edd-11e7-8b22-5e5eb6e64bbc.png");
		background-size: 100% 150%;
		background-repeat: no-repeat;
		transition: 2s opacity;	
	}
	#everything-else {
		padding: 1%;
		font-family: 'Francois One', sans-serif;
		text-align: center;
		font-size: 130%;
		color: white;
		margin-top: 180px;
	}
}